* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  padding: 0 20px;
}

.ss-main.breed-select {
  width: 180px;
  position: relative;
  top: 74px;
  left: 810px;
}

.cat-info {
  margin-top: 40px;
  display: flex;
  gap: 40px;
}

.cat-info__box {
  max-width: calc(100% - 600px);
}

.cat-info__tittle {
  font-size: 32px;
  line-height: calc(42 / 32);
  letter-spacing: 0.2px;

  margin-bottom: 40px;
}

.cat-info__description,
.cat-info__temperament {
  font-size: 18px;
  line-height: calc(24 / 18);
}

.cat__subtitle {
  font-weight: 600;
}

@keyframes rotateBall {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translateX(-50%) translateY(-50%);
  width: 4px;
  height: 4px;
  transform-origin: 24px 24px;
  animation: rotateBall 1.5s infinite forwards;
}
.loader {
  box-shadow: 16px 0 0 #000, 20px 0 0 #000, 24px 0 0 #000, 28px 0 0 #000,
    8px 4px 0 #000, 12px 4px 0 #000, 16px 4px 0 #e20f07, 20px 4px 0 #e20f07,
    24px 4px 0 #e20f07, 28px 4px 0 #e20f07, 32px 4px 0 #000, 36px 4px 0 #000,
    4px 8px 0 #000, 8px 8px 0 #e20f07, 12px 8px 0 #e20f07, 16px 8px 0 #fff,
    20px 8px 0 #e20f07, 24px 8px 0 #e20f07, 28px 8px 0 #e20f07,
    32px 8px 0 #e20f07, 36px 8px 0 #e20f07, 40px 8px 0 #000, 4px 12px 0 #000,
    8px 12px 0 #e20f07, 12px 12px 0 #fff, 16px 12px 0 #fff, 20px 12px 0 #fff,
    24px 12px 0 #e20f07, 28px 12px 0 #e20f07, 32px 12px 0 #e20f07,
    36px 12px 0 #e20f07, 40px 12px 0 #000, 0px 16px 0 #000, 4px 16px 0 #e20f07,
    8px 16px 0 #e20f07, 12px 16px 0 #e20f07, 16px 16px 0 #fff,
    20px 16px 0 #e20f07, 24px 16px 0 #e20f07, 28px 16px 0 #e20f07,
    32px 16px 0 #e20f07, 36px 16px 0 #e20f07, 40px 16px 0 #e20f07,
    44px 16px 0 #000, 0px 20px 0 #000, 4px 20px 0 #e20f07, 8px 20px 0 #e20f07,
    12px 20px 0 #e20f07, 16px 20px 0 #e20f07, 20px 20px 0 #000, 24px 20px 0 #000,
    28px 20px 0 #e20f07, 32px 20px 0 #e20f07, 36px 20px 0 #e20f07,
    40px 20px 0 #e20f07, 44px 20px 0 #000, 0px 24px 0 #000, 4px 24px 0 #000,
    8px 24px 0 #e20f07, 12px 24px 0 #e20f07, 16px 24px 0 #000, 20px 24px 0 #fff,
    24px 24px 0 #a5a5a5, 28px 24px 0 #000, 32px 24px 0 #e20f07,
    36px 24px 0 #e20f07, 40px 24px 0 #000, 44px 24px 0 #000, 0px 28px 0 #000,
    4px 28px 0 #fff, 8px 28px 0 #000, 12px 28px 0 #000, 16px 28px 0 #000,
    20px 28px 0 #a5a5a5, 24px 28px 0 #a5a5a5, 28px 28px 0 #000, 32px 28px 0 #000,
    36px 28px 0 #000, 40px 28px 0 #a5a5a5, 44px 28px 0 #000, 4px 32px 0 #000,
    8px 32px 0 #fff, 12px 32px 0 #fff, 16px 32px 0 #fff, 20px 32px 0 #000,
    24px 32px 0 #000, 28px 32px 0 #a5a5a5, 32px 32px 0 #a5a5a5,
    36px 32px 0 #a5a5a5, 40px 32px 0 #000, 4px 36px 0 #000, 8px 36px 0 #a5a5a5,
    12px 36px 0 #fff, 16px 36px 0 #fff, 20px 36px 0 #fff, 24px 36px 0 #a5a5a5,
    28px 36px 0 #a5a5a5, 32px 36px 0 #a5a5a5, 36px 36px 0 #a5a5a5,
    40px 36px 0 #000, 8px 40px 0 #000, 12px 40px 0 #000, 16px 40px 0 #a5a5a5,
    20px 40px 0 #a5a5a5, 24px 40px 0 #a5a5a5, 28px 40px 0 #a5a5a5,
    32px 40px 0 #000, 36px 40px 0 #000, 16px 44px 0 #000, 20px 44px 0 #000,
    24px 44px 0 #000, 28px 44px 0 #000;
}

.is-hidden {
  display: none;
}
